header{
    background-color: #A0E4CB;
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

body{
    background-color: skyblue;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

form{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: green;
    text-align: center;
}

ul a{
    color:white;
}

li{
    display: inline-block;
    margin-left: 50px;
    height: 30px;
    width: 400px;
    text-align: center;
    color: white;
    background-color: blue;
}

li:hover{
    background-color: aqua;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.p2{
    font-size: large;
    text-align: center;
    background-color: aquamarine;
}

table{
    width: 700px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

.textarea{
    height: 100px;
    width: 300px;
}

button:hover{
    background-color: greenyellow;
}


footer{
    color:white;
    background-color: #0D4C92;
    height: 100px;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}